@using Backend.Service.View
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Backend.Service.ViewModel.ZoneViewModel

<div class="modal-content">
    <div class="modal-header border-0">
        <h5 class="modal-title">
            <span class="fw-mediumbold">Thêm mới</span>
        </h5>
    </div>
    <div class="modal-body">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
        {
            <div class="row">
                @Html.Hidden("airline_id")
                
                <div class="col-sm-12">
                    <div class="form-group form-group-default">
                        <label>Tên khu vực</label>
                        @Html.TextBoxFor(x => x.name, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="modal-footer border-0">
        <button type="button" id="addRowButton" class="btn btn-primary" onclick="doCreate(this)">
            Lưu
        </button>
        <button type="button" class="btn btn-danger" id="closeModal" data-dismiss="modal" onclick="closeModal('#ctrModal')">
            Hủy
        </button>
    </div>
</div>

<script type="text/javascript" src="~/zone.js" defer=""></script>

