@model UserModel

<span class="profile-username">
                <span class="op-7">Hi,</span>
                <span class="fw-bold"> @(string.IsNullOrEmpty(Model.name) ? "Guest" : Model.name)</span>
            </span>

