@model UserModel

<div class="u-text">
    <h4>@Model.name</h4>
    <p class="text-muted">@Model.sub</p>
    <a
        href="profile.html"
        class="btn btn-xs btn-secondary btn-sm"
    >View Profile</a
    >
</div>