<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/assets/flugins/bootrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/flugins/bootrap/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/flugins/bootrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/flugins/fontwesome/all.min.css">
    <link rel="stylesheet" href="~/assets/flugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/flugins/jqeury/jquery-3.7.1.min.js"></script>
    <script src="~/assets/flugins/bootrap/bootstrap.bundle.min.js"></script>
    <script src="~/assets/flugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/assets/flugins/bootrap/bootstrap.min.js"></script>
    <script src="~/assets/flugins/fontwesome/all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  
    <style>



    </style>
</head>

<body>
    <div class="container">
        <div class="flex-column container-wraper">
            <!-- header///////////////////////////// -->
            <header class="d-flex justify-content-center header">
                <div class="d-flex header-wraper">
                    <div class="header__logo">
                        <img class="header__logo-banner" src="/assets/image/VNA_logo_vn.webp" alt="Logo">
                    </div>
                    <div class="d-flex header__nav nav-position">
                        <div class="flex-column header__nav-wraper">
                            <ul class="d-flex header__nav-top-item header__nav-top-item-positon">
                                <li class="nav-item">
                                    <a href="#">Trợ giúp</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Đăng nhập</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">Đăng ký</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#">VIETNAM-Tiếng Việt</a>
                                </li>
                            </ul>

                            <ul class="d-flex header__nav-buttom-item header__nav-buttom-item-positon">
                                <li class="nav-item nav-item-style">
                                    <a href="#">Lên kế hoạch</a>
                                </li>
                                <li class="nav-item nav-item-style">
                                    <a href="#">Thông tin hành trình</a>
                                </li>
                                <li class="nav-item nav-item-style">
                                    <a href="#">Mua vé & sản phẩm khác</a>
                                </li>
                                <li class="nav-item nav-item-style">
                                    <a href="#">Loutusmile</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!-- banner/////////////////////////// -->
            @RenderBody();

            <footer class="text-white mt-5 p-4 text-center footer-page" style="width: 100%;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h5>Về chúng tôi</h5>
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-white">Giới thiệu</a></li>
                                <li><a href="#" class="text-white">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5>Dịch vụ</h5>
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-white">Đặt vé</a></li>
                                <li><a href="#" class="text-white">Hướng dẫn</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <h5>Kết nối với chúng tôi</h5>
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-white"><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                                <li><a href="#" class="text-white"><i class="fa-brands fa-twitter"></i> Twitter</a></li>
                            </ul>
                        </div>
                    </div>
                    <p class="mt-3">© 2024 Vietnam Airlines - Tất cả các quyền được bảo lưu</p>
                </div>
            </footer>



        </div>
    </div>

</body>
<script src="~/js/main.js"></script>
<script>
    // Hiện overlay
    $('#openOverlay').on('click', function () {
        $('#overlay').css('display', 'flex');
    });

    $('#closeOverlay').on('click', function () {
        $('#overlay').css('display', 'none');
    });
</script>

</html>
