<div class="card-review contact-customer">
    <h2 class="text-center">Thông tin liên hệ</h2>
    <form>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="email" class="form-label">Email</label>
                <input type="tel" class="form-control" id="email"
                       placeholder="Nhập Email" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <label for="phoneNumber" class="form-label">Số điện thoại</label>
                <input type="tel" class="form-control" id="phoneNumber"
                       placeholder="Nhập số điện thoại" required>
            </div>
        </div>
    </form>
</div>